In [1]:
x=3
print (x)

3

In [2]:
3*5

15

In [3]:
#Il n' y a qu'une sortie standard par cellule
2+4
3*5

15

In [4]:
print (2+4)
print (3*5)

6
15

In [5]:
15//4

3

In [6]:
list (range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range (10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [9]:
#Exercice 1

from math import pi


r = float(input("Rayon du cône (m):"))
h = float(input("Hauteur du cône (m):"))

Volume = (pi*r*r*h)/3
print("Volume du cône =", Volume, "m3")

Rayon du cône (m):2
Hauteur du cône (m):4
Volume du cône = 16.755160819145562 m3

In [32]:
#Exercice 2
def cube (n):
    exposant = 3
    res = 0
    for i in range (n+1):
        res = res + i**exposant
    return res

In [33]:
cube (3)

36